<footer>
    <div class="f-info">
        <div class="f-info-socials "></div>
        <i class="fa-brands fa-facebook custom-size"></i>
        <i class="fa-brands fa-square-instagram custom-size"></i>
        <i class="fa-brands fa-x-twitter custom-size"></i>
        <i class="fa-brands fa-linkedin custom-size"></i>
        <div class="f-info-brand">&copy; Wanderlust Private limited </div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>
